*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .wrapper {
  display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
    margin: 10px;
    padding: 10px;
    border: 10px dashed black;
    border-radius: 10px;
}

/* .wrapper {
  border: 2px solid #f76707;
  border-radius: 5px;
  background-color: #fff4e6;
} */

/* .wrapper>div {
  border: 2px solid #ffa94d;
  border-radius: 5px;
  background-color: #ffd8a8;
  padding: 1em;
  color: #d9480f;
}
p {
  animation-duration: 3s;
  animation-name: slide-in;
  animation-iteration-count: infinite;
  animation-direction: alternate;
} */ 

/* @keyframes grow-shrink {
  25%,
  75% {
    scale: 100%;
  }

  50% {
    scale: 200%;
    color: magenta;
  }
} */
p {
  animation-duration: 3s;
  animation-name: slide-in;
}
p span {
  display: inline-block;
  animation-duration: 3s;
  animation-name: grow-shrink;
}

@keyframes slide-in {
  from {
    translate: 0 150vh;
    scale: 200% 1;
  }

  to {
    translate: 0 0;
    scale: 100% 1;
  }
}

@keyframes grow-shrink {
  25%,
  75% {
    scale: 100%;
  }

  50% {
    scale: 200%;
    color: magenta;
  }
}
